<!-- views/assassins/assassinsedit.ejs -->
<!-- http://www.killbase.com/assassins/1/edit -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head id="assassins">

  <body>
    <%- include('../partials/navbar') %>

    <h4 class="writeA">Active Assassins</h4>

    <!-- Edit an existing assassin -->



    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeA").typed({
          strings: ["XD!m @zYk4{de8}? bd%3lmdsfvd", "Active Assassins"],
          typeSpeed: 2,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
