<!-- views/assassins/assassinsone.ejs -->
<!-- http://www.killbase.com/assassins/1 -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head>

  <body id="assassins">
    <%- include('../partials/navbar') %>

    <h4 class="writeA">Active Assassins</h4>

    <!-- GET data for one assassin -->
    <%= JSON.stringify(assassins) %>


    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeA").typed({
          strings: ["XD!m @zYk4{de8}? bd%3lmdsfvd", "Active Assassins"],
          typeSpeed: 2,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
