<!-- views/assassins/assassinsone.ejs -->
<!-- http://www.killbase.com/assassins/1 -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head>

  <body id="assassins">
    <div class="topbanner">
      <div class="crossbase">
        <img src="../crosshair.png" alt="crosshair" class="cross">
        <h1>Killbase</h1>
      </div>

      <div class="navlinksright">
        <ul class="navlinkstop">
          <li><a href="/">Home</a>|</li>
          <li><a href="/assassins">Assassins</a>|</li>
          <li><a href="/contracts">Contracts</a></li>
        </ul>
      </div>
    </div>


    <h4 class="writeA">Active Assassins</h4>

    <!-- GET data for one assassin -->
    <%= JSON.stringify(assassins) %>


    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeA").typed({
          strings: ["rD!m @zYk4{dgf8}? ad%3ls9d", "Assassin Info"],
          typeSpeed: 1,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
