<!-- views/assassins/assassinsedit.ejs -->
<!-- http://www.killbase.com/assassins/1/edit -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head>

  <body id="assassins">
    <div class="topbanner">
      <div class="crossbase">
        <img src="/../crosshair.png" alt="crosshair" class="cross">
        <h1>Killbase</h1>
      </div>

      <div class="navlinksright">
        <ul class="navlinkstop">
          <li><a href="/">Home</a>|</li>
          <li><a href="/assassins">Assassins</a>|</li>
          <li><a href="/contracts">Contracts</a></li>
        </ul>
      </div>
    </div>

    <h4 class="writeA">Active Assassins</h4>

    <!-- Edit an existing assassin -->



    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeA").typed({
          strings: ["+D!m @ddY4[de8]- bd%3lmmjo", "Edit Assassin"],
          typeSpeed: 1,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
