
<!-- views/partials/header.ejs -->
<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li><a href="localhost:8000/">Assassins</a></li>
      <li><a href="localhost:8000/">Contracts</a></li>
    </ul>
  </nav>
</div>
