<!-- views/partials/navbar.ejs -->

<div class="topbanner">
  <h1>Killlbase</h1>

  <ul class="navlinkstop">
    <li><a href="home">Home |</a></li>
    <li><a href="assassins">Assassins |</a></li>
    <li><a href="contracts">Contracts</a></li>
  </ul>
</div>
