<!-- views/home.ejs (home page)-->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Killbase</title>
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Local stylesheet -->
    <link rel='stylesheet' href='./public/styles.css' />
  </head>

  <body>
    <h1>Killbase</h1>




  </body>

</html>
