/* home page */

#home {
  background-image: url("homenorse.gif");
  background-size: cover;
  border-top: 40px solid black;
}

#home h1 {
    color: white;
}

.cross {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.crossbase {
  display: flex;
  margin-top: -40px;
}

.homeholder {
  text-align: center;
}

.assassinsContractsHome {
  display: inline-block;
  margin: 50px;
}

.assassinsContractsHome img {
  height: 100px;
  width: 100px;
}

h2 {
  color: aqua;
}


/* navbar */

.topbanner {
  display: flex;
}

.navlinkstop {
  display: flex;
  float: right;
  font-size: 24px;
}

a {
  color: #fff;
  margin-right: 5px;
}


/* assassins */

#assassins {
  background-image: url("worldmapgrey.jpg");
  background-size: cover;
  color: #fff;
}


/* contracts */

#contracts {
  background-image: url("mapblue.jpg");
  background-size: cover;
  color: #fff;
}


/* footer */

.footer {
  color: #fff;
  text-align: left;
}
