/* home page */

#home {
  background-image: url("homenorse.gif");
  background-size: cover;
  border-top: 40px solid black;
}

#home h1 {
    color: white;
}

.cross {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.crossbase {
  display: flex;
  margin-top: -40px;
}

.assassinsContractsHome {
  margin-left: 115px;
}

h2 {
  display: inline-block;
  color: #fff;
  font-size: 26px;
  margin-bottom: 0px;
}

h2:hover {
  color: red;
}


/* navbar */

.topbanner {
  display: flex;
  margin-top: 40px;
}

.navlinksright {
  width: 1050px;
}

.navlinkstop {
  display: flex;
  float: right;
  font-size: 24px;
}

a {
  color: #fff;
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: red;
}


/* assassins */

#assassins {
  background-image: url("worldmapgrey.jpg");
  background-size: cover;
  color: #fff;
}

h4 {
  margin: 0px 0px 30px 180px;
}

.btn {
  background: rgba(0,0,0,0.8);
  border: 1px solid #fff;
  margin: 0px 0px 20px 180px;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

.collapsible {
  width: 78%;
  margin: auto;
  border: black;
}

.collapsible-header, .collapsible-body {
  background: rgba(0,0,0,0.8);
  padding: 5px;
  border: black;
}

.collapsible-header:hover {
  color: red;
}

.collapsible-body {
  display: flex;
}

.leftname {
  display: flex;
}

.ratingprice {
  display: flex;
}

.weaponcontact {
  display: flex;
  margin-bottom: 30px;
}

.rightsquare {
  display: flex;
}

img {
  height: 25px;
  width: 25px;
  margin: 0px 10px 0px 10px;
}

h6 {
  margin-right: 30px;
}

.writeB {
  margin: 30px 0px 20px 180px;
}


/* contracts */

#contracts {
  background-image: url("mapblue.jpg");
  background-size: cover;
  color: #fff;
}

.photo {
  height: 200px;
  width: 150px;
}

.midsquare {
  margin-left: 20px;
}

.rightsquare>a {
  display: flex;
  margin-top: 10px;
}

.writeD {
  margin: 30px 0px 20px 180px;
}

.actLeft {
  margin: 10px 0px 10px 0px;
}

.actMid, .actRight {
  margin: 20px 0px 0px 20px;
}


/* footer */

.footer {
  color: #fff;
  text-align: left;
}
