/* home page */

#home {
  background-image: url("homenorse.gif");
  background-size: cover;
  border-top: 40px solid black;
}

#home h1 {
    color: white;
}

.cross {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.crossbase {
  display: flex;
  margin-top: -40px;
}

.assassinsContractsHome {
  margin-left: 100px;
}

h2 {
  display: inline-block;
  color: #fff;
  font-size: 26px;
  margin-bottom: 0px;
}

h2:hover {
  color: red;
}


/* navbar */

.topbanner {
  display: flex;
  margin-top: 40px;
}

.navlinksright {
  width: 1050px;
}

.navlinkstop {
  display: flex;
  float: right;
  font-size: 24px;
}

a {
  color: #fff;
  margin: 0px 10px 0px 10px;
}

a:hover {
  color: red;
}


/* assassins */

#assassins {
  background-image: url("worldmapgrey.jpg");
  background-size: cover;
  color: #fff;
}


/* contracts */

#contracts {
  background-image: url("mapblue.jpg");
  background-size: cover;
  color: #fff;
}


/* footer */

.footer {
  color: #fff;
  text-align: left;
}
