<!-- views/contracts/contractsnew.ejs -->
<!-- http://www.killbase.com/contracts/new -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head>

  <body id="contracts">
    <div class="topbanner">
      <div class="crossbase">
        <img src="../crosshair.png" alt="crosshair" class="cross">
        <h1>Killbase</h1>
      </div>

      <div class="navlinksright">
        <ul class="navlinkstop">
          <li><a href="/">Home</a>|</li>
          <li><a href="/assassins">Assassins</a>|</li>
          <li><a href="/contracts">Contracts</a></li>
        </ul>
      </div>
    </div>

    <h4 class="writeC">Available Contracts</h4>

    <!-- form to add a new contract -->
    <div class="row form">
      <form action="/contracts" method="POST" class="col s12">
        <div class="row L">
          <div class="input-field col s7">
            <input type="text" placeholder="Target Name" name="targetName">
          </div>
          <div class="input-field col s2">
            <input type="text" placeholder="Security Level" name="securityLevel">
          </div>
        </div>
        <div class="row L">
          <div class="input-field col s7">
            <input type="text" placeholder="Target Location" name="targetLocation">
          </div>
          <div class="input-field col s2">
            <input type="text" placeholder="Budget" name="budget">
          </div>
        </div>
        <div class="row L">
          <div class="input-field col s7">
            <input type="text" placeholder="Target Image URL" name="targetPhoto">
          </div>
        </div>
        <div class="row LB">
          <div class="input-field col s7">
            <input type="text" placeholder="Client Name" name="clientName">
          </div>
          <div class="switch col s4">
            <label>
              Current Client
              <input type="checkbox">
              <span class="lever"></span>
              New Client
            </label>
          </div>
        </div>

        <!-- add contract button -->
        <input type="submit" value="Submit Contract" class="waves-effect waves-light btn submita">
        <input type="reset" value="Reset" class="waves-effect waves-light btn submita">
      </form>
    </div>


    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeC").typed({
          strings: ["a%Jg rKr+ Bk00 yd8$", "Add a New Contract"],
          typeSpeed: -10,
          backSpeed: -10,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
