<!-- views/contracts/contractsone.ejs -->
<!-- http://www.killbase.com/contracts/1 -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags (meta, css) -->
    <%- include('../partials/headinfo') %>
  </head>

  <body id="contracts">
    <%- include('../partials/navbar') %>

    <h4 class="writeC">Available Contracts</h4>

    <!-- GET all assassins data -->
    <%= JSON.stringify(contracts) %>


    <!-- footer -->
    <%- include('../partials/footer') %>

    <!-- typed.js for typewriter effect -->
    <script type="text/javascript">
    	$(function(){
        $(".writeC").typed({
          strings: ["ap9%FJg sK*r+ Tkif[90uj]0", "Available Contracts"],
          typeSpeed: 1,
          showCursor: false,
        });
      });
    </script>

  </body>

</html>
